catboost==0.24.4
category_encoders==2.2.2
dvc==2.0.5
Jinja2==2.11.3
joblib==1.0.1
matplotlib==3.3.4
more-itertools==8.7.0
mlflow==1.14.1
numpy==1.19.5
pandas==1.1.5
psycopg2-binary==2.8.6
pyarrow==3.0.0
pytest==6.2.2
requests==2.25.1
scikit-learn==0.24.1
scipy==1.5.4