attrs==20.3.0
catboost==0.25.1
category_encoders==2.2.2
cycler==0.10.0
decorator==5.0.6
dill==0.3.3
ds-tools==0.1.3
dvc==2.0.17
jedi==0.18.0
Jinja2==2.11.3
joblib==1.0.1
jsonschema==3.2.0
hypothesis==6.9.0
matplotlib==3.4.1
mlflow==1.15.0
more-itertools==8.7.0
numpy==1.20.2
pandas==1.2.3
prompt-toolkit==3.0.18
psycopg2-binary==2.8.6
pyarrow==3.0.0
Pygments==2.8.1
pytest==6.2.3
python-box==5.3.0
python-dateutil==2.8.1
requests==2.25.1
retrying==1.3.3
scikit-learn==0.24.1
scipy==1.6.2
six==1.15.0
traitlets==5.0.5
urllib3==1.26.4
widgetsnbextension==3.5.1